  /*Menu lateral */
  .sidebar {
    background: linear-gradient(to bottom, #818181 0%, #383838 100%);
    color: white;
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.nav-link {
    color: white;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Tela principal */
.content {
    margin-left: 200px;
    padding: 20px;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilo para o carrossel de cartões */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
    overflow: hidden; /* Mantém os cartões dentro dos limites da tela */
    width: 100%; /* Garante que o carrossel ocupe a largura completa */
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease; /* Suaviza a transição dos cartões */
    width: 100%;
    justify-content: center;
}

.carousel-container .card {
    background-color: #e0e0e0;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0 15px; /* Espaçamento entre os cartões */
    cursor: pointer;
    border: 2px solid transparent; /* Inicialmente sem borda de seleção */
    text-align: center;
    padding: 10px;
}

.carousel-container .card.selected {
    border: 2px solid #a3a3a3; /* Borda roxa para o card selecionado */
}

/* Estilo para os botões do carrossel */
.carousel-container button {
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.carousel-container .prev {
    left: 10px;
}

.carousel-container .next {
    right: 10px;
}

/* botões de ação */
.action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.action-buttons .btn {
    margin-left: 10px;
}

/* Rodapé */
.footer {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 200px;
    width: calc(100% - 200px);
    color: #818181;
    padding: 10px;
    text-align: left;
}

/* Input de novo card */
.new-card-input {
    width: 300px;
    margin-right: 20px;
}