/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #808183; /* Cor de fundo empresarial suave */
}

.login-box {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #cc2229;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #ad292f;
}

.signup-link {
  margin-top: 1rem;
  text-align: center;
}

.signup-link p {
  color: #555;
}

.signup-link a {
  color: #cc2229;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}

.logo {
  width: 275px;

}

.divlogo {
    display: flex;
    justify-content: center;
    margin: 30px;
}