/* Profile.css */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* Cor de fundo suave para a página de perfil */
    text-align: center;
  }
  
  .profile-details {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
  }
  
  .btn {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #cc2229;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .btn:hover {
    background-color: #ad292f;
  }
  